<header>
  <nav class="navbar navbar-fixed-top">
    <table cellpadding="0" cellspacing="0">
      <tr valign="top">
        <td class="left" width="99%">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr valign="top">
              <td>
                <div class="menu home" routerLink="/" title="Home">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                  </span>
                  <em>{{ ['Sonub', '헬로필'] | ek }}</em>
                </div>
              </td>
              <td>
                <div class="menu" routerLink="/help" title="Help">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                  </span>
                  <em>{{ 'help' | ln }}</em>
                </div>
              </td>
              
              <td *ngIf=" ! login ">
                <div class="menu" routerLink="/user/register" title="Register">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                  </span>
                  <em>{{ ['Register', '회원가입'] | ek }}</em>
                </div>
              </td>


              <td *ngIf=" login ">
                <div class="menu" routerLink="/user/profile" title="{{ ['User Profile', '회원 정보 수정'] | ek }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                  </span>
                  <em>{{ ['Profile', '회원정보'] | ek }}</em>
                </div>
              </td>

              <td *ngIf=" ! login ">
                <div class="menu" routerLink="/user/login" title="Register">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-unlock fa-stack-1x fa-inverse"></i>
                  </span>
                  <em>{{ 'login' | ln }}</em>
                </div>
              </td>
              
              <td *ngIf=" login ">
                <div class="menu" (click)="onClickLogout()" title="{{ ['Logout', '로그아웃'] | ek }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                  </span>
                  <em>{{ ['logout', '로그아웃'] | ek }} </em>
                </div>
              </td>
              

              <td>
                <div class="menu" routerLink="/forum" title="Forums">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-comment-o fa-stack-1x fa-inverse"></i>
                  </span>
                  <em>{{ ['Forum', '게시판'] | ek }}</em>
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td class="right">
          <span class="all menu" title="All Menu" (click)="isAllMenuActive = ! isAllMenuActive">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-reorder fa-stack-1x fa-inverse"></i>
            </span>
            <em>{{ ['Menu', '메뉴'] | ek }}</em>
          </span>
        </td>
      </tr>
    </table>
  </nav>
  <em style="display:none;" class="all-menu" [class.active]="isAllMenuActive">
    <h3>{{ title }} </h3>
    <hr>
    <a routerLink="/about">About</a>
    <a routerLink="/user/login">User Login</a>
    <a routerLink="/user/profile">My Page</a>
  </em>
</header>

