h3{
    text-align: center;
}
[timer]{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    span{
        background-color: silver;
    }
}
