<article class="card post">
    <div class="profile col-md-3">
      <img class="profile-photo" src="{{post.photos.length ? post.photos[0]['url_thumbnail'] : urlPhoto}}" alt="Card image {{post.text_1}}">
    </div>
    <div class="info col-md-9">
      <div>
        <p class="text">{{post.sub_category}}</p>
        <p class="text">{{ post.char_1=='M' ? 'Male' : 'Female'}}</p>
        <p class="text">Age: {{currentYear - post.int_2}}</p>
        <p class="text">Experience: {{post.int_1}}</p>
        <p class="title">{{post.text_1}} {{post.text_2}} {{post.text_3}}</p>
      </div>
      <ul class="list-group list-group-flush" *ngIf=" post.more ">
        <li class="list-group-item">Mobile : {{post.varchar_4}}</li>
        <li class="list-group-item">Address : {{post.varchar_1}}</li>
        <li class="list-group-item">Province : {{post.varchar_2}}</li>
        <li class="list-group-item">City : {{post.varchar_3}}</li>
        <li class="list-group-item">Applicant Message : {{post.varchar_6}}</li>
      </ul>
      <div>
        <label>Share link</label>
        <input class="shareLink text" onClick="this.setSelectionRange(0, this.value.length)" value="{{shareUrl+post.idx}}" readonly/>
      </div>


      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary btn-sm" (click)=" post.more = ! post.more " >{{ post.more  ? 'Less' : 'More' }}</button>
        <button *ngIf=" post.member.id == login.id " type="button" class="btn btn-secondary btn-sm" (click)="onClickEdit(post.idx)">Edit</button>
        <button *ngIf=" post.member.id == login.id " type="button" class="btn btn-secondary btn-sm" (click)="onClickDelete(post)">Delete</button>
      </div>
    </div>
</article>
