$break-xs: 360px;

job-base-list-component {
  .card {
    .profile {
      overflow: hidden;
      height:auto;
      padding: 0;
      float: left;
      @media screen and (max-width: $break-xs) {
        width: 60px;
        height: 60px;
      }
      .profile-photo{
        width: 100%;
        padding: .2rem;
      }

    }
    .info {
      padding: 0;
      .share {
        overflow: hidden;
        line-height: 21px;
        .shareLink {
          display: inline-block;
          line-height: 16px;
        }
      }
      .btn-group {
        margin-top: .2rem;
      }
    }
  }
}
