<header>
  <nav class="navbar navbar-fixed-top">

  <a routerLink="/" title="Home">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
      </span>
  </a>

    <a routerLink="/help" title="Help">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <a routerLink="/user/register" title="Register">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <a routerLink="/user/login" title="Register">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-unlock fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <a routerLink="/user/login" title="Forums">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-comment-o fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <span title="All Menu" (click)="isAllMenuActive = ! isAllMenuActive">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
      </span>
    </span>
  </nav>
  <div style="display:none;" class="all-menu" [class.active]="isAllMenuActive">

    <h3>{{ title }} </h3>
    <hr>
    <a routerLink="/about">About</a>
    <a routerLink="/user/login">User Login</a>
    <a routerLink="/user/profile">My Page</a>
  </div>
</header>

