<quiz-base-nav></quiz-base-nav>
<br><br><br>
<div class="container">

    <hr/>

    <div class="form-group row">
      <label for="category" class="col-xs-3 col-form-label">Select Subject:</label>
      <div class="col-xs-9">
        <select class="form-control form-control-sm" name="subject" id="subject" [(ngModel)]="selectedsubject" (ngModelChange)="onChangeGetExam(selectedsubject)" *ngIf="enabled">
          <option *ngFor="let subject of subject_data" [value]="subject.idx">{{ subject.content }}</option>
        </select>

        <select class="form-control form-control-sm" name="subject" id="subject" *ngIf="!enabled" disabled>
          <option *ngFor="let subject of subject_data" [value]="subject.idx">{{ subject.content }}</option>
        </select>
      </div>
    </div>

</div>