<base-header [title]="title"></base-header>

<section class="content">
<h1>Post edit page</h1>

<form>


    subject: <input name="subject" [(ngModel)]="form.subject"><br>
    content: <textarea name="content" [(ngModel)]="form.content"></textarea><br>
    
    
    
    <div class="file-upload">
        
        <div class="file-upload-button" (click)="onClickFileUploadButton()">
            <span class="camera fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
            </span>
            
            <input *ngIf=" ! cordova " type="file" name="inputFile" [(ngModel)]="inputFileValue" #file (change)="onChangeFile($event, file.value)">
        </div><!--/file-upload-button-->
        
        <!-- This supports IE 9. IE 9 does not support HTML 5 -->
        <progress *ngIf=" ! cordova && showProgress " class="progress" value="{{ progress }}" max="100">
        <div class="progress">
            <span class="progress-bar" [style.width]="widthProgress"></span>
        </div>
        </progress>
        <div *ngIf=" cordova && showProgress" class="progress loader">
            <i class="fa fa-spinner fa-spin"></i> Uploading ...
        </div>
    </div>




    <section *ngIf=" files.length " class="files">
        <div class="file" *ngFor=" let file of files " (click)="onClickDeleteFile( file )">
            <img [src]=" file.url_thumbnail ">
            <span class="trash fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
        </div>
    </section>

    <button *ngIf=" post_idx " type="button" (click)="onClickEditSubmit()">Edit</button>
    <button *ngIf=" post_id " type='button' (click)="onClickSubmit()">Submit</button>

</form>


</section>

<base-footer></base-footer>

