<sonub-header></sonub-header>
<section class="content container-fluid">
  <div class="row">
    <aside class="left hidden-sm-down col-md-3 col-lg-3 col-xl-2"><sonub-left></sonub-left></aside>
    <section class="center col-sm-12 col-md-7 col-lg-6 col-xl-8 message"  *ngFor = "let message of data.messages">

        <div class="title" (click)="onClickShowContent(message)" *ngIf="message">
           <div class="from" [innerHTML]="message.from.nickname"></div>
           <div class="subject" [innerHTML]="message.subject"></div>
           <div class="date" [innerHTML]="message['date_created']"></div>
           <div  style="clear:right;"></div>  
        </div>

        <div class="content" *ngIf="message['show_content']"> 
           <div class="message_content" [innerHTML]="message.content"></div>
           <div class="menu" >
             <button class="hide menu-item" (click)="onClickHideContent(message)" >HIDE</button>
             <button class="reply menu-item" (click)="onClickReply()">REPLY</button>
             <button class="delete menu-item"  (click)="onClickDelete()">DELETE</button>   
           </div>  
           <div  style="clear:right;"></div> 
        </div>

    </section><!--/section.center-->
    <aside class="right hidden-sm-down col-md-2 col-lg-3 col-xl-2"><sonub-right></sonub-right></aside>
  </div><!--/.row-->
</section><!--/section.content-->
<sonub-footer></sonub-footer>
