sonub-news {
  .page_no {
    padding: 0 5px;
    .left {
      display: block;
      margin: 0 2% 0 4px;
      float: left;
      width: 34%;
      height: 100%;
      .photo {
        width: 92%;
        padding-right: 8%;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
      .subject {
        width: 92%;
        padding-right: 4%;
        margin-top: 8px;
        text-align: center;
        span {
          display: inline-block;
          height: 1.2em;
          font-size: 0.75em;
          color: #3d3d3d;
          overflow: hidden;
          line-height: 1.2em;
        }
      }
    }
    .right {
      span{
        cursor: pointer;
      }
      .right-top {
        .subject {
          font-weight: bold;
          height: 22px;
          line-height: 22px;
          overflow: hidden;
          span {
            color: #00007b;
            text-decoration: none;
            font-size: 16px;
          }
        }
        .content {
          height: 30px;
          overflow: hidden;
          span {
            font-size: 11px;
            text-decoration: none;
            color: #898888;
            line-height: 15px;
          }
        }
      }
      .bottom-subject {
        line-height: 20px;
        height: 20px;
        overflow: hidden;
        font-weight: bold;
        .subject span {
          font-size: 12px;
          text-decoration: none;
          color: #00007b;
        }
      }
    }

  }
}
