<div class="exchange_rate">
  Exchange Rate
  <img class="banner-image" src="assets/img/currency_3.gif">
  <div class="info">
    <div class="text">1 Peso is <span class="rate">{{currency?.one_peso_to_won}}</span> Won</div>
    <div class="text">1 Dollar is <span class="rate">{{currency?.one_dollar_to_peso}}</span> Peso</div>
    <div class="text">1 Dollar is <span class="rate">{{currency?.one_dollar_to_won}}</span> Won</div>
  </div>
  <div class="exchange_time">
    Exchange time:
  </div>
</div>
