sonub-buy-and-sell {
  .posts {
    padding: .5rem .2rem;
    border-top: 1px solid #bcbcbc;
    .photos {
      .photo {
        text-align: center;
        img {
          padding: 0 .2rem;
          max-height: 90px;
        }
      }
    }
    .info {
      .user {
        .name {
          text-overflow: ellipsis;
          overflow: hidden;
          color: #3b5998;
          font-weight: bold;
          font-size: 16px;
          line-height: 16px;
          white-space: nowrap;
        }
      }
      .subject {
        .title {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
