<job-base-header [title]="title"></job-base-header>

<section class="content">
  <div *ngIf=" pages.length " class="pages container">
    <div *ngFor=" let page of pages " class="page posts">
      <div class="post col-xs-6" *ngFor=" let post of page.posts;">
        <job-base-list-component
          [post]="post" [root]="page.posts"
          [login]="login"
          [shareUrl]="shareUrl"
        ></job-base-list-component>
      </div>
    </div>
  </div>
  <div *ngIf=" inPageLoading " class="in-page-loading"><i class="fa fa-spinner fa-spin"></i> Loading ...</div>
  <div *ngIf=" noMorePosts " class="no-more-posts">No more posts</div>
</section>

<job-base-footer></job-base-footer>
