
base-left-side {
    display: block;
    padding: 1em;
    width: 100%;
    background-color: #dfdfdf;
}
base-right-side {
    display: block;
    padding: 1em;
    width: 100%;
    background-color: #e98484;
}