<base-header [title]="title"></base-header>
<section class="content">

    <h1>Sonub Post List Page</h1>
    
    <hr>
        <!-- create a  post -->
        <edit-component *ngIf = " showPostCreateFrom "
            [mode]    = " 'create-post' "
            [active]  = " true "
            [post_id] = " post_id "
            [posts]   = " posts "
            (error)   = " editComponentOnError( $event ) "
            (cancel)  = " editComponentOnCancel() "
            (success) = " editComponentOnSuccess() "

        ></edit-component>
        <button (click)="onClickPostCreate()">Post Write</button>
    <hr>
    <div class="post" *ngFor=" let post of posts; trackBy: post?.idx ">
        <view-component
            [post]="post" [root]="post"
            [show]="true"
            [mode] = " 'create-comment' "
        ></view-component>
        <div class="comment" *ngFor=" let comment of post.comments; trackBy: comment?.idx ">
            <view-component
                [post]="comment" [root]="post"
                [show] = "true"
                [mode] = " 'create-comment' "
            ></view-component>
        </div>
    </div>

</section>
<base-footer></base-footer>
