<!--
  Registration form

  @note this is not RWD page. so, no need to use grid.

 -->
<sonub-header></sonub-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <aside class="left hidden-xs-down col-sm-4 col-md-3 col-lg-3 col-xl-2">
        <base-left-side></base-left-side>
      </aside>
      
      <section class="center base-center col-sm-8 col-md-9 col-lg-6 col-xl-8">
        
          <h1 *ngIf=" ! login ">{{ ['User Registration', '회원가입'] | ek }}</h1>
          <h1 *ngIf=" login ">{{ ['Account Update', '회원 정보 수정'] | ek }}</h1>

          <form>
            <table border="0">
              <tr>
                <td colspan="2">
                  is cordova? {{ cordova | json }}

                  <div class="primary-photo" (click)="onClickPrimaryPhoto()">
                    <span class="camera fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <img [src]="urlPhoto">
                    <input *ngIf=" ! cordova " type="file" name="inputFile" [(ngModel)]="inputFileValue" #file (change)="onChangeFile($event, file.value)">
                  </div><!--/primary-photo-->
                  

                  


                  <div *ngIf=" urlPhoto != urlDefault ">
                    <button (click)="onDeletePhoto()">DELETE PHOTO</button>
                  </div>

                  <!-- This supports IE 9. IE 9 does not support HTML 5 -->
                  <progress *ngIf=" showProgress " class="progress" value="{{ progress }}" max="100">
                    <div class="progress">
                      <span class="progress-bar" [style.width]="widthProgress"></span>
                    </div>
                  </progress>

                </td>
              </tr>

              <tr *ngIf=" ! login ">
                <td><label for="inputID">User ID</label></td>
                <td><input [(ngModel)]="form.id" class="form-control" name="id" type="text" id="inputID" placeholder="Input User ID" autocomplete="off"></td>
              </tr>
              <tr *ngIf=" ! login ">
                <td><label for="inputPassword">Password</label></td>
                <td><input [(ngModel)]="form.password" class="form-control" name="password" type="password" id="inputPassword" placeholder="Input Password" autocomplete="off"></td>
              </tr>
              <tr>
                <td><label for="inputName">Name</label></td>
                <td><input [(ngModel)]="form.name" class="form-control" name="name" type="text" id="inputName" placeholder="Input Name" autocomplete="off"></td>
              </tr>
              <tr>
                <td><label for="inputEmail">Email</label></td>
                <td><input [(ngModel)]="form.email" class="form-control" name="email" type="email" id="inputEmail" placeholder="Input Email" autocomplete="off"></td>
              </tr>
              <tr>
                <td><label for="inputMobile">Mobile</label></td>
                <td>
                  <input [(ngModel)]="form.mobile" class="form-control" name="mobile" type="number" id="inputMobile" placeholder="Input your phone number." autocomplete="off">
                  <div class="text-muted">Input digits only</div>
                </td>
              </tr>

              <tr>
                <td>Gender</td>
                <td>
  
    
                  <label for="inputGenderM" class="form-check-inline">
                    
                    <input [(ngModel)]="form.gender" class="form-check-input" name="gender" type="radio" id="inputGenderM" value='M'>
                    Male
                  </label>
                  <label for="inputGenderF" class="form-check-inline">
                    <input [(ngModel)]="form.gender" class="form-check-input" name="gender" type="radio" id="inputGenderF" value='F'>
                    Female
                  </label>
  
                  
                </td>
              </tr>
              
              <tr>
                <td><label for="inputBirthday">Birth Day</label></td>
                <td><input [(ngModel)]="form.birthday" class="form-control" name="birthday" type="date" id="inputBirthday"></td>
              </tr>

              
              <tr>
                <td></td>
                <td>
                  
                  <button *ngIf=" ! login " (click)="onClickRegister()" type="submit" class="btn btn-primary">
                    <i class="fa fa-sign-in"></i> {{ ['REGISTER', '회원가입'] | ek }}
                  </button>
                  
                  <button *ngIf=" login " (click)="onClickUpdate()" type="submit" class="btn btn-primary">
                    <i class="fa fa-sign-in"></i> {{ ['UPDATE', '정보수정'] | ek }}
                  </button>


                  <button routerLink="/" type="button" class="btn btn-secondary">
                    <i class="fa fa-times"></i> {{ ['Cancel', '취소'] | ek }}
                  </button>
                  <div class="process">
                    <div *ngIf=" process.loader ">
                      <i class="fa fa-spinner fa-spin"></i> Connecting to server ...
                    </div>
                    <div *ngIf=" process.error " class="alert alert-danger" role="alert">
                      <strong>{{ 'error' | ln }} !</strong> {{ process.error }}
                    </div>
                  </div>
                  
                </td>
              </tr>
            </table>


          </form>
          
      </section>

      <aside class="right hidden-xs-down col-sm-12 col-lg-3 col-xl-2">
        <base-right-side></base-right-side>
      </aside>
    </div>
  </div>
</section>


<sonub-footer></sonub-footer>