post-list-page {
    article {
        margin: .6em 0;
        padding: 1em;
        border-bottom: 1px solid grey;

        .post-uploaded-files, .comment-uploaded-files {
            img {
                max-width: 49%;
            }
        }
        .comments {
            .comment {
                &[depth='2'] { margin-left: 1em; }
                &[depth='3'] { margin-left: 2em; }
                &[depth='4'] { margin-left: 2.6em; }
                &[depth='5'] { margin-left: 3.2em; }
                &[depth='6'] { margin-left: 3.6em; }
                &[depth='7'] { margin-left: 4em; }
                &[depth='8'] { margin-left: 4.4em; }
                &[depth='9'] { margin-left: 4.8em; }
                &[depth='10'] { margin-left: 5em; }
                &[depth='11'] { margin-left: 5.2em; }
            }
        }


        
        &.hidden {
            & > .content {
                display: none;
            }
            & > .uploaded-files {
                display: none;
            }
            & .buttons {
                display: none;
            }
        }

        .uploaded-files {
            img {
                max-width: 100%;
            }
        }
    }
}