<template ngbModalContainer></template>
<base-header [title]="title"></base-header>

<section class="content">
    post list html
    <button (click)="onClickPostCreate()">Post Write</button>

    <div *ngIf=" pages.length " class="pages"
        infinite-scroll
            [infiniteScrollDistance]="0.5"
            [infiniteScrollUpDistance]="1.1"
            [infiniteScrollThrottle]="500"
            (scrolled)="onScrollDown()"
            (scrolledUp)="onScrollUp()"
    >
        <div *ngFor=" let page of pages " class="page posts">
            <article class="post" *ngFor=" let post of page.posts ">
                <div class="post-header">
                    <h2 class="post-header-title">{{ post.subject }}</h2>
                    idx: {{ post.idx }}
                    <button (click)="onClickPostEdit( post.idx )">Edit</button>
                    <button (click)="onClickPostDelete( post.idx )">Delete</button>
                </div>

                <div class="post-content" innerHTML="{{ post.content }}">
                </div>
                
                <div *ngIf=" post.photos.length " class="post-uploaded-files">
                    <img *ngFor=" let photo of post.photos " [src]=" photo.url_thumbnail ">
                </div>

                <edit-component
                    [current]="post"
                    [mode]=" 'create-comment' "
                    (error) = " onError( $event ) "
                    (success) = " onSuccess() "
                ></edit-component>
                
                <div class="comments" *ngIf=" post.comments ">
                    <article class="comment" *ngFor=" let comment of post.comments "
                        [attr.depth]="comment.depth"
                        [class.hidden]=" showEditComponent[ comment.idx.toString() ] "
                    >
                        <div class="header">
                            No. {{ comment.idx }}
                            <button (click)="onClickCommentReply( comment )">Reply</button>
                            <button (click)="onClickCommentEdit( comment )">Edit</button>
                            <button (click)="onClickCommentDelete( comment  )">DELETE</button>
                            <button (click)="onClickCommentLike( comment  )">Like</button>
                            <button (click)="onClickCommentDislike( comment  )">Dislike</button>
                            <button (click)="onClickCommentReport( comment  )">Report</button>
                        </div>
                        <div class="content">
                            <div innerHTML="{{ comment.content }}"></div>
                            <div *ngIf=" comment.photos.length " class="comment-uploaded-files">
                                <img *ngFor=" let photo of comment.photos " [src]=" photo.url_thumbnail ">
                            </div>
                        </div><!--/content-->
                        <edit-component *ngIf=" showEditComponent[ comment.idx.toString() ] "
                            [current] = " comment "
                            [active] = " true "
                            [mode] = " mode "
                            (error) = " onError( $event ) "
                            (success) = " onSuccess() "
                        ></edit-component>
                    </article>
                </div>


            </article><!-- post -->
        </div><!--/page posts-->
    </div><!--pages-->
</section>


<base-footer></base-footer>

