<sonub-buy-and-sell
  [title]=" 'Buy and Sell' "
  [post_id]=" 'buyandsell' "
  [limit] = "1"
  [photo] = "1"
></sonub-buy-and-sell>

<sonub-buy-and-sell
  [title]=" 'Car' "
  [post_id]=" 'cars' "
  [limit] = "1"
  [photo] = "2"
></sonub-buy-and-sell>

<sonub-buy-and-sell
  [title]=" 'Massage' "
  [post_id]=" 'massage' "
  [limit] = "1"
  [photo] = "2"
></sonub-buy-and-sell>

<sonub-buy-and-sell
  [title]=" 'Individual' "
  [post_id]=" 'personal' "
  [limit] = "1"
  [photo] = "2"
></sonub-buy-and-sell>

