job-base-list-component {
  $break-small: 320px;
  $break-large: 1200px;
  .profile {
    @media screen and (min-width: $break-small) {
      overflow: hidden;
      width: 65px;
      height: 65px;
      float: left;
    }
    @media screen and (min-width: $break-large) {
      float: left;
    }
    .profile-photo{
      width: 100%;
      max-width: 10em;
      padding: 5px;
    }

  }
  .info {
    padding: 0;
    .text {
      margin-bottom: 5px;
    }
    .shareLink {
      width: 100%;
    }
  }
}
