register-page .center form {
    table {
        background-color: inherit;
        width: 94%;
        tr {
            td {
                padding: .4em 0;
            }
        }
    }
    .primary-photo {
        max-width: 14em;
        max-height: 14em;

        overflow: hidden;
        img {
            width: 100%;
        }
    }
}