register-page .center form {
    table {
        background-color: white;
        width: 94%;
        tr {
            td {
                padding: .4em 0;
            }
        }
    }
    .primary-photo {
        img {
            width: 100%;
        }
    }
}