latest-post-component{
        
        
        color : #a9a9a9;


        table{
            margin:0px;
            width: 98%;
            margin :1%;


            table-layout: fixed;
            display: table;
            background: #fafafa;
           
            border-collapse: separate;
            border-spacing: 2px;
            border-top:2px solid #e8e8e8;
            border-bottom:5px solid #e8e8e8;
            border-left:5px solid #e8e8e8;
            border-right:5px solid #e8e8e8;
           
        }
    
        table > tbody{
            display: table-row-group;
            vertical-align: middle; 
          
        }

        table > tbody >   tr:first-child td:first-child latest-component .title:before{     
            font-family: "FontAwesome";
            content: '\f0f4';
            padding-right : 3px;        
        }

        table > tbody >   tr:first-child td:nth-child(2) latest-component .title:before {       
            font-family: "FontAwesome";
            content: '\f290';
            padding-right : 3px;          
        }

        table > tbody >   tr:nth-child(2) td:first-child latest-component .title:before{        
            font-family: "FontAwesome";
            content: '\f059';          
            padding-right : 3px;
                    
        }
        
        table > tbody > tr > td{
            width: 50%;
            padding: 10px;
        }

        table > tbody > tr > td > latest-component .title{
            
            margin-bottom: 2px;
            color:#5a5a5a;
            border-bottom: 2px solid #e2e2e2;
            padding:0px;
            padding-left:5px;
            padding-bottom: 5px;
            vertical-align: middle;
           
        }

        table > tbody > tr > td > latest-component > div{
            display: block;
            padding-left:0.5em;
        }

        table > tbody > tr> td > latest-component > div > div {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            padding: 2px;   
            margin-right : 2em;
            cursor: auto;  
            color: #5a5a5a;
            font-family: 굴림,Gulim,AppleGothic;
            font-size: 9pt;
        }


        table > tbody > tr > td > latest-component > div > div  :before {
            color : #bababa;
            content:"• ";
            font-weight: bold;
            font-size:13px;
            padding :0px;
            margin :0px;
           
        }
                
}//latest component


