@import '../../../../../theme/vars';
job-base-header {
    header nav {
        .menu {
            display: block;
            padding: 0 .5em;
            &.home {
                padding-left: 0;
            }
            color: #0275d8;
            text-decoration: none;
            text-align: center;
            em {
                display: block;
                font-size: .8em;
            }
            cursor: pointer;
        }
        .all.menu {
            color: black;
        }
        em {
            font-style: normal;
        }
    }

    .all-menu {
        &.active {
            display: block!important;
            position: fixed;
            z-index: 100;
            top: $header_toolbar_height + 6px;
            left: 0;
            right: 0;
            background-color: #71b3f4;
            padding: 1em;
        }
    }
}