input {
    font-family: Arial, FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

[action]{
    cursor: pointer; 
    display: inline;
    @media(max-width: 480px){
        display: block;
    }   
}