
<div class="top">
    <div class="container">
        <latest-component
            [title]=" 'Discussion' "
            [post_id]=" 'qna' "
            [limit] = "9"
        ></latest-component>
    </div >
</div>


<div class="bottom">
    <div class="container">
        <latest-component
            [title]=" 'Discussion' "
            [post_id]=" 'qna' "
            [limit] = "5"
        ></latest-component>   
        <latest-component
            [title]=" 'Discussion' "
            [post_id]=" 'qna' "
            [limit] = "10"
        ></latest-component>
    </div >
</div>