
<div class="top">
    <div class="container">
        <latest-component
            [title]=" 'Music' "
            [post_id]=" 'music_en' "
            [limit] = "9"
        ></latest-component>
    </div >
</div>


<div class="bottom">
    <div class="container">
        <latest-component
            [title]=" 'Humor' "
            [post_id]=" 'humor' "
            [limit] = "5"
        ></latest-component>   
        <latest-component
            [title]=" 'Greet' "
            [post_id]=" 'greeting' "
            [limit] = "10"
        ></latest-component>
    </div >
</div>