<header class="navbar navbar-fixed-top">
    <table>
        <tr>
            <td routerLink="/">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <div>Home</div>
            </td>
            <td routerLink="/forum/knowhow--lookfor--caution">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <div>Community</div>
            </td>
            <td routerLink="/forum/qna">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                </span>
                <div>QnA</div>
            </td>
            <td routerLink="/forum/buyandsell">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shopping-basket fa-stack-1x fa-inverse"></i>
                </span>
                <div>Buy&amp;Sell</div>
            </td>
            <td routerLink="/job">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shopping-basket fa-stack-1x fa-inverse"></i>
                </span>
                <div>Job</div>
            </td>
            <td>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <div>Login</div>
            </td>
            <td>
                <i class="fa fa-list fa-2x"></i>
                <div>Menu</div>
            </td>
        </tr>
    </table>
</header>