<header class="navbar navbar-fixed-top">
    <table>
        <tr>
            <td routerLink="/">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                Home
            </td>
            <td routerLink="/forum/knowhow--lookfor--caution">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                Community
            </td>
            <td routerLink="/forum/qna">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                </span>
                QnA
            </td>
            <td>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shopping-basket fa-stack-1x fa-inverse"></i>
                </span>
                Buy&amp;Sell
            </td>
            <td>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                Login
            </td>
            <td>
                <i class="fa fa-list fa-2x"></i>
                Menu
            </td>
        </tr>
    </table>
</header>